* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font: bold 20px verdana, sans-serif;
}

h2 {
	font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup, posts {
	display:block;
}
/*Centers the entire page*/
body {
	text-align:center;
}
/*Left justifies page within the centered body*/
#wrapper {
	width: 1100px;
	/*Adds 15 pixels to the top and the bottom with left and right margins being automatically assigned*/
	margin: 15px auto;
	text-align: left;
}

#main_header {
	background: #c1d7f0;
	border: 1px solid #999999;
	padding: 20px;
}

#main_menu {
	background: #CCCCCC;
	padding: 5px 15px;/*first parameter is for top and bottom margins, second parameter for left and right margins*/
}

#main_menu li {
	display:inline-block; /*Forces elements to be placed on one line*/
	list-style: none;
	padding: 5px;
	font: bold 14px Verdana, sans-serif;
}

#forms {
	padding: 5px 20px;/*first parameter is for top and bottom margins, second parameter for left and right margins*/
}

#forms li {
	display:inline-block; /*Forces elements to be placed on one line*/
	list-style: none;
	padding: 10px;
	font:12px Verdana, sans-serif;
}

#main_section {
	float:left;
	width:660px;
	margin:20px;
}

#code {
	width: 300px;
	border: 1px solid #cacaca;
	line-height: 1.2em;
	font: 14px monospace;
	padding: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
}

#main_aside {
	float:left;
	width:200px;
	margin:20px 0px;
	padding: 20px;
	background: #CCCCCC;
}
#main_footer {
	clear:both;
	text-align:center;
	padding:20px;
	border-top: 2px solid #999999;
}

posts {
	text-align:left;
	float:left;
	margin:20px;
	padding:20px;
}

article {
	background: #ebf2fa;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
}

article footer {
	text-align:right;
}

time {
	color:#999999;
}

figcaption {
	font: italic 14px verdana, sans-serif;
}

.PostTable {

	margin:0px;padding:0px;

	width:99%;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:13px;

	-webkit-border-bottom-left-radius:13px;

	border-bottom-left-radius:13px;

	

	-moz-border-radius-bottomright:13px;

	-webkit-border-bottom-right-radius:13px;

	border-bottom-right-radius:13px;

	

	-moz-border-radius-topright:13px;

	-webkit-border-top-right-radius:13px;

	border-top-right-radius:13px;

	

	-moz-border-radius-topleft:13px;

	-webkit-border-top-left-radius:13px;

	border-top-left-radius:13px;

}.PostTable table{

	height:100%;

	margin:0px;padding:0px;

}.PostTable tr:last-child td:last-child {

	-moz-border-radius-bottomright:13px;

	-webkit-border-bottom-right-radius:13px;

	border-bottom-right-radius:13px;

}

.PostTable table tr:first-child td:first-child {

	-moz-border-radius-topleft:13px;

	-webkit-border-top-left-radius:13px;

	border-top-left-radius:13px;

}

.PostTable table tr:first-child td:last-child {

	-moz-border-radius-topright:13px;

	-webkit-border-top-right-radius:13px;

	border-top-right-radius:13px;

}.PostTable tr:last-child td:first-child{

	-moz-border-radius-bottomleft:13px;

	-webkit-border-bottom-left-radius:13px;

	border-bottom-left-radius:13px;

}.PostTable tr:hover td{

	

}
.PostTable tr:nth-child(odd){ background-color:#aad4ff; }

.PostTable tr:nth-child(even)    { background-color:#ffffff; }
.PostTable td{

	vertical-align:middle;
	

	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:7px;

	font-size:10px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.PostTable tr:last-child td{

	border-width:0px 1px 0px 0px;

}.PostTable tr td:last-child{

	min-width: 400px;
	width: 400px;
	max-width:850px;
	border-width:0px 0px 1px 0px;

}.PostTable tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.PostTable tr:first-child td{

		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);


	background-color:#005fbf;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

}

.PostTable tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);


	background-color:#005fbf;

}

.PostTable tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.PostTable tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}

.MemberTable {

	margin:0px;padding:0px;

	width:1000px;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:13px;

	-webkit-border-bottom-left-radius:13px;

	border-bottom-left-radius:13px;

	

	-moz-border-radius-bottomright:13px;

	-webkit-border-bottom-right-radius:13px;

	border-bottom-right-radius:13px;

	

	-moz-border-radius-topright:13px;

	-webkit-border-top-right-radius:13px;

	border-top-right-radius:13px;

	

	-moz-border-radius-topleft:13px;

	-webkit-border-top-left-radius:13px;

	border-top-left-radius:13px;

}.MemberTable table{
	
	width:70%;
	margin-left:15%;
	margin-right:15%;
	height:20%;
	padding:0px;

}.MemberTable tr:last-child td:last-child {

	-moz-border-radius-bottomright:13px;

	-webkit-border-bottom-right-radius:13px;

	border-bottom-right-radius:13px;

}

.MemberTable table tr:first-child td:first-child {

	-moz-border-radius-topleft:13px;

	-webkit-border-top-left-radius:13px;

	border-top-left-radius:13px;

}

.MemberTable table tr:first-child td:last-child {

	-moz-border-radius-topright:13px;

	-webkit-border-top-right-radius:13px;

	border-top-right-radius:13px;

}.MemberTable tr:last-child td:first-child{

	-moz-border-radius-bottomleft:13px;

	-webkit-border-bottom-left-radius:13px;

	border-bottom-left-radius:13px;

}.MemberTable tr:hover td{

	

}
.MemberTable tr:nth-child(odd){ background-color:#aad4ff; }

.MemberTable tr:nth-child(even)    { background-color:#ffffff; }
.MemberTable td{

	vertical-align:middle;

	

	

	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:7px;

	font-size:12px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.MemberTable tr:last-child td{

	border-width:0px 1px 0px 0px;

}.MemberTable tr td:last-child{

	border-width:0px 0px 1px 0px;

}.MemberTable tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.MemberTable tr:first-child td{

		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);


	background-color:#005fbf;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

}

.MemberTable tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);


	background-color:#005fbf;

}

.MemberTable tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.MemberTable tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}

.FormAlign
{
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

div {
	width: 100px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}